@model OnlineMedicineShopping.BusinessLayer.ViewModels.MedicineViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-right" style="margin-top:10px;">
@Html.ActionLink("Doctor Appointment", "DoctorAppointment", "Medicine", new { @class = "btn btn-danger" })
</div>
<div class="text-center" style="margin-top:10px;">
    <h4>Search Medicines And Product</h4>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Brand)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <th>@Html.DisplayNameFor(m => m.Stock)</th>
            <th>@Html.DisplayNameFor(m => m.Features)</th>
            <th>@Html.DisplayNameFor(m => m.Discount)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PageCount() == 0)
        {
            <tr>
                <td style="color:red;" colspan="12">
                    Records not found |
                    @Html.ActionLink("Go To Home", "Index", "Medicine", new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
        else
        {
            @foreach (var product in Model.PaginatedInterview())
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Price.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))</td>
                <td>@product.Stock</td>
                <td>@product.Features</td>
                <td>@product.Discount</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Medicine", new { MedicineId = product.MedicineId, @class = "btn btn-primary" }) |
                    @Html.ActionLink("Buy Now", "Details", "Medicine", new { MedicineId = product.MedicineId, @class = "btn btn-primary" })
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount(); i++)
    {
        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
    }
</ul>