@model IEnumerable<OnlineMedicineShopping.Entities.MedicineOrder>
@{
    ViewData["Title"] = "OrderInfo";
}
<div class="container text-center" style="margin-top:10px">
    <div class="jumbotron mt-3">
        <h1>Purchase Order Info</h1>
        <p class="lead">Thanku for shopping with us your order will be processed....</p>
        @Html.ActionLink("Shop Again", "Index", "Medicine", new { @class = "btn btn-primary" })
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.OrderId)</th>
            <th>@Html.DisplayNameFor(m => m.MedicineId)</th>
            <th>@Html.DisplayNameFor(m => m.UserId)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.MedicineId</td>
                <td>@order.UserId</td>
                <td>Product Details</td>
            </tr>
        }
    </tbody>
</table>